{% extends "rezon/base.html" %}
{% block content %}
    <div class="row text-center text-dark lh-2">
        <h4>Список ОФД в БД</h4>
    </div>
    {% if ofd %}
        <button class="button col-2">
            <a class="text-start" href="{% url 'ofd-create' %}">Добавить</a>
        </button>
        <table class="table table-striped table-bordered text-start">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>ИНН</th>
                    <th>Адрес подключения</th>
                    <th>Ip:Port</th>
                    <th>DNS</th>
                    <th>Адрес отправки чеков</th>
                    <th>Параметры сервера ОИСМ (ФФД 1.2)</th>
                    <th>Редактировать</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in ofd %}
                    <tr>
                        <td><a href="{{ obj.id }}">{{ obj.name }}</a></td>
                        <td>{{ obj.inn }}</td>
                        <td>{{ obj.address }}</td>
                        <td>{{ obj.ip }}:{{ obj.port }}</td>
                        <td>{{ obj.dns }}</td>
                        <td>{{ obj.sender }}</td>
                        <td>Адрес: {{ obj.adrffd }}</br>IP: {{ obj.ipffd }}</br>Порт: {{ obj.portffd }}</td>
                        <td>
                            <a href="update/{{ obj.id }}">Изменить</a></br>
                            <a href="delete/{{ obj.id }}">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>В базе данных нет ни одной компании</p>
    {% endif %}
{% endblock content %}