{% extends 'rezon/base.html' %}
{% block content %}
    <div class="container text-start">
        <div class="row my-2">
            <p><strong>Наименование: </strong>{{ ofd.name }}</p>
        </div>
        <div class="row my-2">
            <p><strong>ИНН: </strong>{{ ofd.inn }}</p>
        </div>
        <div class="row my-2">
            <p><strong>Адрес подключения: </strong>{{ ofd.address }}</p>
        </div>
        <div class="row my-2">
            <p><strong>IP: </strong>{{ ofd.ip }}</p>
        </div>
        <div class="row my-2">
            <p><strong>Порт: </strong>{{ ofd.port }}</p>
        </div>
        <div class="row my-2">
            <p><strong>DNS: </strong>{{ ofd.dns }}</p>
        </div>
        <div class="row my-2">
            <p><strong>Таймаут чтения: </strong>{{ ofd.timeout }}</p>
        </div>
        <div class="row my-2">
            <p><strong>Таймер соединения с ОФД: </strong>{{ ofd.timeconn }}</p>
        </div>
        <div class="row my-2">
            <p><strong>Таймер опроса ФН: </strong>{{ ofd.timerfn }}</p>
        </div>
        <div class="row my-2">
            <p><strong>Адрес отправки чеков: </strong>{{ ofd.sender }}</p>
        </div>
        <div class="row my-2">
            <p><strong>Адрес сайта ОФД: </strong>{{ ofd.adrofd }}</p>
        </div>
        <div class="row my-2">
            <p><strong>Адрес сайта ФНС: </strong>{{ ofd.adrfns }}</p>
        </div>
        <div class="row my-2">
            <p><strong>Адрес проверки чеков: </strong>{{ ofd.adrcheck }}</p>
        </div>
        <div class="row my-2">
            <p><strong>Адрес сервера ФФД 1.2: </strong>{{ ofd.adrffd }}</p>
        </div>
        <div class="row my-2">
            <p><strong>IP сервера ФФД 1.2: </strong>{{ ofd.ipffd }}</p>
        </div>
        <div class="row my-2">
            <p><strong>Порт ФФД 1.2: </strong>{{ ofd.portffd }}</p>
        </div>
    </div>
{% endblock content %}