{% extends 'rezon/base.html' %}
{% block content %}
    <div class="container text-start">
        <div class="row my-2">
            <p><strong>Регистрационный номер: </strong>{{ fiscalregistrar.rn }}</p>
        </div>
        <div class="row my-2">
            <p><strong>Юр. лицо: </strong>{{ fiscalregistrar.legal }}</p>
        </div>
        <div class="row my-2">
            <p>
                <strong>Фискальный накопитель: </strong>
                <a href="/fiscalstorage/{{ fiscalregistrar.fn.id }}">{{ fiscalregistrar.fn.number }}</a> срок до: {{ fiscalregistrar.fn.validity }}
            </p>
        </div>
        <div class="row my-2">
            <p><strong>Модель: </strong>{{ fiscalregistrar.model }}</p>
        </div>
        <div class="row my-2">
            <p><strong>Заводской номер: </strong>{{ fiscalregistrar.zn }}</p>
        </div>
        <div class="row my-2">
            <p><strong>ОФД: </strong>{{ fiscalregistrar.ofd }}</p>
        </div>
        <div class="row my-2">
            <p>
                <strong>Регистрационная карточка: </strong>
                {% if fiscalregistrar.reg_card %}
                    <a href="{{ fiscalregistrar.reg_card.url }}" target="_blank">Показать карточку</a>
                {% else %}
                    В БД нет данной рег. карты
                {% endif %}
            </p>
        </div>
    </div>
{% endblock content %}