{% extends "directory/base.html" %}
{% block content %}
    <div class="col">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row-form-errors">{{ form.non_field_errors }}</div>
            {% for f in form %}
                {% if f.id_for_label == 'id_model' %}
                    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}
                        <a href="{% url 'modelfiscalstorage-create' %}" target="_blank">
                            <img src="/static/admin/img/icon-addlink.svg" alt="Добавить"></a></p>
                {% elif f.id_for_label != 'id_model' %}
                    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
                {% endif %}
            {% endfor %}
            <input type="submit" value="Сохранить" />
        </form>
    </div>
{% endblock %}
