{% extends "directory/base.html" %}
{% block content %}
    <div class="col">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="text-start">
                {{ form.as_table }}
            </table>
            <input type="submit" value="Сохранить" />
        </form>
    </div>
    {% if contact %}
        <div>
            <div class="col">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="text-start">
                        {{ contact.name }}
                    </table>
                    <input type="submit" value="Сохранить" />
                </form>
            </div>
            <div class="col-2 right">
                <button class="button col-2">
                    <a class="text-start" href="{% url 'corporation-create' %}" target="_blank">Добавить компанию</a>
                </button>
            </div>
        </div>
    {% elif corporation %}
        <div>
            <div class="col">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="text-start">
                        {{ form.as_table }}
                    </table>
                    <input type="submit" value="Сохранить" />
                </form>
            </div>
            <div class="right col-2">
                <button class="button col-2">
                    <a class="text-start" href="{% url 'version-create' %}">Добавить версию</a>
                </button>
                <button class="button col-2">
                    <a class="text-start" href="{% url 'rdp-create' %}">Добавить RDP</a>
                </button>
                <button class="button col-2">
                    <a class="text-start" href="{% url 'establishment-create' %}">Добавить заведение</a>
                </button>
            </div>
        </div>
    {% elif establishment %}
        <div>
            <div class="col">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="text-start">
                        {{ form.as_table }}
                    </table>
                    <input type="submit" value="Сохранить" />
                </form>
            </div>
            <div class="right col-2">
                <button class="button col-2">
                    <a class="text-start" href="{% url 'station-create' %}">Добавить станции</a>
                </button>
                <button class="button col-2">
                    <a class="text-start" href="{% url 'contact-create' %}">Добавить контакт</a>
                </button>
            </div>
        </div>
    {% elif fiscalregistrar %}
        <div>
            <div class="col">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="text-start">
                        {{ form.as_table }}
                    </table>
                    <input type="submit" value="Сохранить" />
                </form>
            </div>
            <div class="right col-2">
                <button class="button col-2">
                    <a class="text-start" href="{% url 'modelfiscalregistrar-create' %}">Добавить станции</a>
                </button>
                <button class="button col-2">
                    <a class="text-start" href="{% url 'legal-create' %}">Добавить юр. лицо</a>
                </button>
                <button class="button col-2">
                    <a class="text-start" href="{% url 'fiscalstorage-create' %}">Добавить ФН</a>
                </button>
                <button class="button col-2">
                    <a class="text-start" href="{% url 'ofd-create' %}">Добавить ОФД</a>
                </button>
            </div>
        </div>
    {% elif fiscalstorage %}
        <div>
            <div class="col">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="text-start">
                        {{ form.as_table }}
                    </table>
                    <input type="submit" value="Сохранить" />
                </form>
            </div>
            <div class="right col-2">
                <button class="button col-2">
                    <a class="text-start" href="{% url 'modelfiscalstorage-create' %}">Добавить модель ФН</a>
                </button>
            </div>
        </div>
    {% elif optequip %}
        <div>
            <div class="col">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="text-start">
                        {{ form.as_table }}
                    </table>
                    <input type="submit" value="Сохранить" />
                </form>
            </div>
            <div class="right col-2">
                <button class="button col-2">
                    <a class="text-start" href="{% url 'typeeq-create' %}">Добавить тип доп. оборудования</a>
                </button>
            </div>
        </div>
    {% elif station %}
        <div>
            <div class="col">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table class="text-start">
                        {{ form.as_table }}
                    </table>
                    <input type="submit" value="Сохранить" />
                </form>
            </div>
            <div class="right col-2">
                <button class="button col-2">
                    <a class="text-start" href="{% url 'fiscalregistrar-create' %}">Добавить ФР</a>
                </button>
                <button class="button col-2">
                    <a class="text-start" href="{% url 'printer-create' %}">Добавить принтер</a>
                </button>
                <button class="button col-2">
                    <a class="text-start" href="{% url 'optequip-create' %}">Добавить доп. оборудование</a>
                </button>
            </div>
        </div>
    {% else %}
        <p>В данный момент в БД нет данных</p>
    {% endif %}
{% endblock %}
