{% extends "directory/base.html" %}
{% block content %}
    {% if contact %}
        <button class="button col-2">
            <a class="text-start" href="{% url 'corporation-create' %}" target="_blank">Добавить компанию</a>
        </button>
    {% elif corporation %}
        <a class="text-start" href="{% url 'version-create' %}">Добавить версию</a>
        <a class="text-start" href="{% url 'rdp-create' %}">Добавить RDP</a>
        <a class="text-start" href="{% url 'establishment-create' %}">Добавить заведение</a>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="text-start">
            {{ form.as_table }}
        </table>
        <input type="submit" value="Сохранить" />
    </form>
{% endblock %}
