{% extends 'rezon/base.html' %}
{% block content %}
    <div class="container text-start">
        <div class="row my-2">
            <p><strong>Наименование: </strong>{{ optequip.model }}</p>
        </div>
        <div class="row my-2">
            <p><strong>Тип оборудования: </strong>{{ optequip.type_equip }}</p>
        </div>
        <div class="row my-2">
            <p><strong>Серийный номер: </strong>{{ optequip.sn }}</p>
        </div>
        <div class="row my-2">
            <p><strong>Заметка: </strong>{{ optequip.other }}</p>
        </div>
    </div>
{% endblock content %}