{% extends "rezon/base.html" %}
{% block content %}
    <div class="row text-center text-dark lh-2">
        <h4>Список компаний в БД</h4>
    </div>
    {% if corporation %}
        <table class="table table-striped table-bordered text-start">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Точки</th>
                    <th>Версия</th>
                    <th>Ссылка на Office/Chain</th>
                    <th>Ссылка на веб морду</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in corporation %}
                    <tr>
                        <td><a href="{{ obj.id }}">{{ obj.name }}</a></td>
                        <td>
                            <table class="table table-striped table-bordered text-start">
                                <thead>
                                <tr>
                                    <td>Название точки</td>
                                    <td>Станции на точке</td>
                                </tr>
                                </thead>
                                <tbody>
                                {% for est in obj.establishments.all %}
                                    <tr>
                                        <td><a href="/establishment/{{ est.id }}" target="_blank">{{ est.name }}</a></td>
                                        <td>
                                            {% for station in est.stations.all %}
                                                <ul><a href="/station/{{ station.id }}" target="_blank">{{ station.stname }}</a></ul>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </td>
                        <td>{{ obj.version }}</td>
                        <td>{{ obj.iiko_server }}:{{ obj.port }}</td>
                        {% if obj.port == '443' %}
                            <td><a href="https://{{ obj.iiko_server }}:{{ obj.port }}/resto">Веб морда</a></td>
                        {% else %}
                            <td><a href="http://{{ obj.iiko_server }}:{{ obj.port }}/resto">Веб морда</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>В базе данных нет ни одной компании</p>
    {% endif %}
{% endblock content %}