{% extends "rezon/base.html" %}
{% block content %}
    <div class="row text-center text-dark lh-2">
        <h4>Список заведении в БД</h4>
    </div>
    {% if establishment %}
        <button class="button col-2">
            <a class="text-start" href="{% url 'establishment-create' %}">Добавить заведение</a>
        </button>
        <table class="table table-striped table-bordered text-start">
            <thead>
                <tr>
                    <th>Наименование</th>
                    <th>Станции</th>
                    <th>Адрес</th>
                    <th>Контакт</th>
                    <th>Редактировать</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in establishment %}
                    <tr>
                        <td><a href="{{ obj.id }}">{{ obj.name }}</a></td>
                        <td>
                            {% for station in est.stations.all %}
                                <ul><a href="/station/{{ station.id }}">{{ station.stname }}</a></ul>
                            {% endfor %}
                        </td>
                        <td>{{ obj.address }}</td>
                        <td>{{ obj.contact }}</td>
                        <td>
                            <a href="update/{{ obj.id }}">Изменить</a></br>
                            <a href="delete/{{ obj.id }}">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>В базе данных нет ни одного заведения</p>
    {% endif %}
{% endblock content %}