{% extends 'rezon/base.html' %}
{% block content %}
    <div class="container text-start">
        <div class="row my-2">
            <p><strong>Модель: </strong>{{ printers.model }}</p>
        </div>
        <div class="row my-2">
            <p><strong>Серийный номер: </strong>{{ printers.sn }}</p>
        </div>
        <div class="row my-2">
            <p><strong>Имя в iiko: </strong>{{ printers.name }}</p>
        </div>
        <div class="row my-2">
            <p><strong>Заметка: </strong>{{ printers.other }}</p>
        </div>
    </div>
{% endblock content %}