{% extends "rezon/base.html" %}
{% block content %}
    <div class="row text-center text-dark lh-2">
        <h4>Список контактов в БД</h4>
    </div>
    {% if contact %}
        <button class="button col-2">
            <a class="text-start" href="{% url 'contact-create' %}">Добавить компанию</a>
        </button>
        <table class="table table-striped table-bordered text-start">
            <thead>
                <tr>
                    <th>Имя, Фамилия</th>
                    <th>Должность</th>
                    <th>Номер телефона</th>
                    <th>Ссылка на телеграм</th>
                    <th>Редактировать</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in contact %}
                    <tr>
                        <td><a href="{{ obj.id }}">{{ obj.name }} {{ obj.last_name }}</a></td>
                        <td>{{ obj.position }}</td>
                        <td>{{ obj.phone }} <a href="wa.me/{{ obj.phone }}">WA</a></td>
                        <td>
                            {% if obj.telega %}
                                <a href="{{ obj.telega }}">Написать в Телеграм</a>
                            {% else %}
                                <p>Телеги нет</p>
                            {% endif %}
                        </td>
                        <td>
                            <a href="update/{{ obj.id }}">Изменить</a></br>
                            <a href="delete/{{ obj.id }}">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>В базе данных нет ни одного контакта</p>
    {% endif %}
{% endblock content %}